header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3{
  margin-top:5px;
  text-align:center;
}

/*BUTTONS*/
.card-columns .btn-group{
  float:right;
}

.card-columns .btn-group button{
  margin: 0px auto;
  width:70px;
  height:40px;
  border-radius:0px;
  font-size:14px;
}

/*清除浮動效果，讓高度出現，方法II*/
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*RWD*/
@media screen and (min-width:576px) and (max-width: 991px) {
  .card img{
    height: 120px;
  }
  .card-columns .btn-group{
    float:right;
  }
  .card-columns .btn-group button{
    margin: 5px auto;
    max-width:45px;
    height:50px;
    padding: 0px 1px;
    border-radius:0rem;
    font-size:14px;
  }
  .card-columns .btn-group form button{
    font-size:13px;
  }
  .restaurant-show-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width:575px){
  .card-columns .btn-group button{
    margin: 5px auto;
    width:4.5rem;
    height:40px;
    border-radius:0rem;
    font-size:0.9rem;
  }
  .card img{
    height: auto;
  }
}