<div class="container">
  <form action="/restaurants" method="POST">
    <div class="form-row">
      <div class="col-md-6 mb-3 form-group">
        <label for="inputZhName">餐廳中文名稱</label><span style="color:red">*</span>
        <input type="text" class="form-control" name="inputZhName" placeholder="如：鼎泰豐">
      </div>
      <div class="col-md-6 mb-3 form-group">
        <label for="inputEnName">餐廳英文名稱</label><span style="color:red">*</span>
        <input type="text" class="form-control" name="inputEnName" placeholder="如：Din Tai Fung">
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3 form-group">
        <label for="inputCategory">種類</label><span style="color:red">*</span>
        <input type="text" class="form-control" name="inputCategory" placeholder="Category">
      </div>
      <div class="col-md-4 mb-3 form-group">
        <label for="inputRating">星級評比</label><span style="color:red">*</span>
        <input type="text" class="form-control" name="inputRating" placeholder="請輸入0~5之間的數字">
      </div>
      <div class="col-md-4 mb-3 form-group">
        <label for="inputPhone">電話</label><span style="color:red">*</span>
        <input type="text" class="form-control" name="inputPhone" placeholder="電話格式：0X-12345678">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">地址</label><span style="color:red">*</span>
      <input type="text" class="form-control" name="inputAddress" placeholder="如：台北市大安區信義路二段194號">
    </div>
    <div class="form-group">
      <label for="inputImageURL">圖片網址</label><span style="color:red">*</span>
      <input type="text" class="form-control" name="inputImageURL" placeholder="如：https://www.abc.com/image/04.jpg">
    </div>
    <div class="form-group">
      <label for="inputGoogleMapURL">Google Map 網址</label>
      <input type="text" class="form-control" name="inputGoogleMapURL" placeholder="如：https://goo.gl/maps/V9mKwVJ4s5v">
    </div>
    <div class="form-group">
      <label for="inputDescription">描述</label><span style="color:red">*</span>
      <textarea class="form-control" name="inputDescription" placeholder="餐廳描述"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">儲存</button>
    <a href="/" class="text-secondary">
      <button type="button" class="btn btn-danger">放棄編輯</button>
    </a>
  </form>
</div>