<!-- views/index.handlebars-->
<div class="filter">
  <div class="form-group" id='monthFilter'>
    <select class="form-control" id="monthFilter">
      <option>月份</option>
      <option value='Jan'>一月</option>
      <option value='Feb'>二月</option>
      <option value='Mar'>三月</option>
      <option value='Apr'>四月</option>
      <option value='May'>五月</option>
      <option value='Jun'>六月</option>
      <option value='Jul'>七月</option>
      <option value='Aug'>八月</option>
      <option value='Sep'>九月</option>
      <option value='Oct'>十月</option>
      <option value='Nov'>十一月</option>
      <option value='Dec'>十二月</option>
    </select>
  </div>
  <div class="form-group" id='categoryFilter'>
    <select class="form-control" id="categoryFilter">
      <option>種類</option>
      <option value='home'>家居物業</option>
      <option value='transport'>交通出行</option>
      <option value='entertain'>休閒娛樂</option>
      <option value='food'>餐飲食品</option>
      <option value='other'>其他</option>
    </select>
  </div>
</div>
<div id="totalAmount">
  <h4>總金額：</h4>
  <p>{{totalAmount}} 元</p>
</div>