<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trash Talk Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <!--不同頁面使用不同CSS-->
  {{#each css}}
  <link rel="stylesheet" href="../stylesheets/{{this}}">
  {{/each}}
</head>

<body class="bg-light">
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">Trash Talk Generator 幹話產生器</a>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <!--JavaScript Files-->
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>