header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3{
  margin-top:5px;
  text-align:center;
}

/*清除浮動效果，讓高度出現，方法II*/
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#choices{
  display:flex;
  justify-content: center;
}

/*NAVBAR*/
#create{
  display:flex;
  justify-content: space-between;
  width:1200px
}

#create button{
  margin:0px 0px 3px 10px;
  min-width:120px;
  height:40px;
}

/*RWD*/
@media screen and (min-width:576px) and (max-width: 991px) {
  #create{
    display:flex;
    justify-content: space-between;
    width:900px;
  }

  #create button{
    margin:0px 0px 3px 0px;
    min-width:120px;
    height:40px;
  }
  #choices{
  display:flex;
  justify-content: center;
  }
}

@media screen and (min-width:340px) and (max-width:575px){
  #create{
    display:flex;
    justify-content: space-between;
    width:500px;
  }

  #create button{
    margin:0px 0px 3px 0px;
    min-width:120px;
    height:40px;
  }
}

@media screen and (max-width:340px){
  #create{
    display:flex;
    justify-content: center;
    width:300px;
  }
  #create a{
    font-size:18px;
  }
  #create button{
    min-width:60px;
    font-size:12px;
  }
}