header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 240px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

/*BUTTONS*/
#create{
  display:flex;
  justify-content: space-between;
  width:1200px
}

#create button{
  margin:0px 0px 3px 10px;
  min-width:120px;
  height:40px;
}